
header {
    top:0;
    width:100%;
    height:40px;
}

input[type="text"].search{
    width:250px;
}

input[type="text"].addLinkText{
    width:260px;
}

div.navigationpane{
    vertical-align: text-top;
}

button.addLink {
    height: 40px;
    margin-top: 10px;
}

button.navigationButton4 {
    vertical-align: text-top;
    width:100px;
    height:25px;
    background-color: lightgray;
}

button.selectedNavigationButton4 {
    vertical-align: text-top;
    width:100px;
    height:25px;
    background-color: lightblue;
}

button.navigationButton3 {
    vertical-align: text-top;
    width:100px;
    height:33px;
    background-color: lightgray;
}

button.selectedNavigationButton3 {
    vertical-align: text-top;
    width:100px;
    height:33px;
    background-color: lightblue;
}

ul.featuresList{
    background-color: #FAFAFA;
    margin: 5px;
    width: 380px;
}

li.joinReasons{
    color: navy;
}

button.join {
    width:100px;
    height:80px;
    margin-left:40px;
    font-size: 20px;
    background-color:lightblue;
}

button.addSource {
    width:60px;
}

button.register {
    margin-left: 2px; 
    width: 150px;
}

button.remove {
    margin-left: 50px;
}

table td, table td * {
    vertical-align: top;
}

tr.bio {
    text-align: center;
}

label.title {
    text-align: center;
}

.signin {
    float:right;
    text-align: center;
}

.copyright {
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}