
header {
    top:0;
    width:100%;
    height:40px;
}

input[type="text"].search{
    width:250px;
}

div.navigationpane{
    vertical-align: text-top;
}

button.navigation {
    vertical-align: text-top;
    width:100px
}

button.register {
    margin-left: 2px; 
    width: 150px;
}

table td, table td * {
    vertical-align: top;
}

button.join {
    width:100px;
    height:50px;
    margin-left: 50px;
    font-size: 20px;
    background-color:lightblue;
}

label.title {
    text-align: center;
}

.signin {
    float:right;
    text-align: center;
}

.copyright {
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}