
header {
    top:0;
    width:100%;
    height:40px;
}

label.title {
    text-align: center;
}

.signin {
    float:right;
    text-align: center;
}

.copyright {
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}