img.logo {
    width: 190px;
    height: 38px;
    float: left;
}

img.profile {
    height: 115px;
    width: 115px;
    margin-bottom: 0px;
}

label.ProfileSettings {
    text-decoration: underline;
    color: blue;
}

div.mainContent {
    margin-top: -15px;
}

header {
    top:0;
    width:100%;
    height:40px;
    margin-bottom:2px;
}

a.featured {
    background: #FFF7D9;
}

a.allLinks {
    color: navy;
}

label.linksCount {
    text-align: right;
    float: right;
}

i.accessId {
    color: navy;
}

table.linkTable {
    margin-top: -10px;
    margin-left: -3px;
}

h3.topicHeader {
    margin-top: 0px;
    color: rgb(19, 108, 175);
}

h3.portalTopicHeader {
    margin-top: 15px;
    color: rgb(19, 108, 175);
}

div.topicsFilter {
    margin-top: -20px;
}

input[type="image"].backbutton {
    margin-left: 6px;
    width:25px;
    height: 25px;
}

input[type="text"].search {
    margin-bottom: 0px;
    margin-left: 2px;
    width:255px;
}

input[type="text"].addLinkText {
    width:260px;
}

input[type="text"].profileInput {
    width:160px;
    margin-top: 3px;
}

input[type="text"].inputUsername {
    width:210px;
}

input[type="text"].addTopic {
    margin-left: -2px;
}

input[type="text"].registrationInput {
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="email"].registrationEmail {
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="password"].registrationPassword {
    margin-top: 2px;
    margin-bottom: 2px;
}

select.selectPlatform {
    width:120px;
}

textarea.inputBio {
    width:160px;
    height:90px;
    margin-top: 20px;
}

div.navigationpane {
    vertical-align: text-top;
}

div.RegistrationForm {
    width: 200px;
    height: 200px;
    margin-left: 15px;
    margin-top: 8px;
    float: right;
}

button.addLink {
    height: 40px;
    margin-top: 8px;
}

button.removeTopic {
     float: right;
}

button.disconnectSource {
    background-color: maroon;
    color: white;
}

button.navigationButton4 {
    vertical-align: text-top;
    width:119px;
    height:25px;
    background-color: lightgray;
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin-bottom: 1px;
}

button.selectedNavigationButton4 {
    vertical-align: text-top;
    width:119px;
    height:25px;
    background-color: lightblue;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

button.subscribeButton {
    width: 70px;
    margin:0 auto;
    display:block;
    font-size: 10px;
    color: black;
    background-color: #F7FCFD;
}

button.unsubscribeButton {
    width: 70px;
    margin:0 auto;
    display:block;
    font-size: 10px;
    color: black;
    background-color: #FFF2F7;
}

button.navigationButton3 {
    vertical-align: text-top;
    width:115px;
    height:33px;
    background-color: lightgray;
}

button.selectedNavigationButton3 {
    vertical-align: text-top;
    width:115px;
    height:33px;
    background-color: lightblue;
}

button.saveProfile {
    float: right;
    margin-top: 3px;
}

button.join {
    width:100px;
    height:80px;
    margin-left:40px;
    font-size: 20px;
    background-color:#0191CE;
    color:white;
}

button.addSource {
    width:60px;
}

button.register {
    margin-top: -10px;
    width: 150px;
    height:30px;
    background-color:rgb(66, 137, 199);
    color:rgb(214, 250, 214);
}

button.topicsButton {
    padding: 0;
    border: none;
    padding: 1px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color:rgb(66, 137, 199);
    color: white
}

button.remove {
    margin-left: 50px;
}


table td, table td * {
    vertical-align: top;
}

table.contentTable {
    margin-left: 60px;
}

td.portfolioContent {
    width: 400px;
}

td.joinForm {
    margin-right: 125px;
}

td.providers{
    width:2500px
}

td.login {
    text-align: right;
}

div.thumnnailDetails {
    margin-left: 5px;
}

tr.bio {
    text-align: center;
}

label.title {
    text-align: center;
}

label.profileName {
    color: rgb(5, 82, 170);
}

.signin {
    margin-top: -13px;
    margin-right: 2px;
    float:right;
    text-align: center;
}

.copyright {
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}